<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ECommerce.Data.Properties.Settings.ECommerceConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ECommerce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>